h1 {
  margin: revert;
  font-weight: bold !important;
}
.v-application--is-ltr .v-input--selection-controls__input {
  margin-right: 0;
}

.v-input--selection-controls__ripple {
  width: 0;
}

.v-input--hide-details {
  .v-input__slot:before {
    border: none !important;
  }
}
.v-banner {
  .v-banner__wrapper {
    padding: 0 !important;
    .v-banner__text {
      line-height: 0;
    }
  }
}