h1 {
  margin: revert;
  font-weight: bold !important;
}
.v-input--hide-details {
  .v-input__slot:before {
    border: none !important;
  }
}
.v-banner {
  .v-banner__wrapper {
    padding: 0 !important;
  }
}