$banner-start-padding: 0;
$banner-end-padding: 0;
$banner-y-padding: 0;

h1 {
  margin: revert;
  font-weight: bold !important;
}
.v-input--hide-details {
  .v-input__slot:before {
    border: none !important;
  }
}