<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width,initial-scale=1'/>
        <meta content='true' name='HandheldFriendly'/>
        <meta content='width' name='MobileOptimized'/>
        <meta content='yes' name='apple-mobile-web-app-capable'/>
        <meta content="#2196f3" name="theme-color" />
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-app-bar app rounded="pill" class="ma-3">
                    <v-img v-if="this.darkMode" max-width="50" src="{{ asset('build/images/logo_dark.png') }}"></v-img>
                    <v-img v-else max-width="50" src="{{ asset('build/images/logo.png') }}"></v-img>
                    <v-spacer></v-spacer>
                    <v-toolbar-title v-text="this.title"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-switch id="dark-mode" inset hide-details color="grey" v-model="this.darkMode" @change="this.toggleDarkMode"></v-switch>
                </v-app-bar>
                <v-banner>
                    {% block banner %}{% endblock %}
                </v-banner>
                <v-main>
                    {% block body %}{% endblock %}
                </v-main>
                <v-bottom-navigation app :value="bottomMenu" background-color="amber darken-1" dark grow>
                    <v-btn>
                        <span>Recents</span>
                        <v-icon>mdi-history</v-icon>
                    </v-btn>
                    <v-btn>
                        <span>Favorites</span>
                        <v-icon>mdi-heart</v-icon>
                    </v-btn>
                    <v-btn>
                        <span>Nearby</span>
                        <v-icon>mdi-map-marker</v-icon>
                    </v-btn>
                </v-bottom-navigation>
                <v-footer>
                    {% block alert %}{% endblock %}
                </v-footer>
            </v-app>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
