<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width,initial-scale=1'/>
        <meta name='HandheldFriendly' content='true'/>
        <meta name='MobileOptimized' content='width'/>
        <meta name='apple-mobile-web-app-capable' content='yes'/>
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    </head>
    <body style="opacity: 0">
        <div id="app">
            <v-app>
                <v-app-bar app rounded="pill" class="ma-3">
                    <v-img v-if="this.darkMode" max-width="50" src="{{ asset('build/images/logo_dark.png') }}"></v-img>
                    <v-img v-else max-width="50" src="{{ asset('build/images/logo.png') }}"></v-img>
                    <v-spacer></v-spacer>
                    <v-toolbar-title v-text="this.title"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="this.toggleDarkMode">
                        <v-icon>mdi-checkbox-blank-circle</v-icon>
                    </v-btn>
                </v-app-bar>
                <v-main>
                    {% block body %}{% endblock %}
                </v-main>
                <v-footer>
                    <v-bottom-sheet v-model="this.profileSheet">
                        <v-sheet>
                            Profile
                        </v-sheet>
                    </v-bottom-sheet>
                    <v-bottom-sheet v-model="this.myListSheet">
                        <v-sheet>
                            My list
                        </v-sheet>
                    </v-bottom-sheet>
                    <v-bottom-sheet v-model="this.settingSheet">
                        <v-sheet>
                            Setting
                        </v-sheet>
                    </v-bottom-sheet>
                </v-footer>
                <v-bottom-navigation app background-color="amber darken-1" dark grow>
                    <v-btn @click="this.openProfileSheet">
                        <span>Profile</span>
                        <v-icon>mdi-account-outline</v-icon>
                    </v-btn>
                    <v-btn @click="this.openMyListSheet">
                        <span>My list</span>
                        <v-icon>mdi-playlist-check</v-icon>
                    </v-btn>
                    <v-btn @click="this.openSettingSheet">
                        <span>Setting</span>
                        <v-icon>mdi-settings</v-icon>
                    </v-btn>
                </v-bottom-navigation>
            </v-app>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
