<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width,initial-scale=1'/>
        <meta content='true' name='HandheldFriendly'/>
        <meta content='width' name='MobileOptimized'/>
        <meta content='yes' name='apple-mobile-web-app-capable'/>
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-app-bar
                        absolute
                        color="#6A76AB"
                        dark
                        shrink-on-scroll
                        prominent
                        src="https://picsum.photos/1920/1080?random"
                        fade-img-on-scroll
                        scroll-target="#scrolling-techniques-3">
                    <template v-slot:img="{ props }">
                        <v-img v-bind="props" gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"></v-img>
                    </template>
                </v-app-bar>
                <v-main>
                    {% block body %}{% endblock %}
                </v-main>
                <v-footer app>
                    {% block alert %}{% endblock %}
                </v-footer>
            </v-app>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
