{% extends 'base.html.twig' %}

{% block title %}Landing page{% endblock %}

{% block banner %}
    <iframe src="https://www.youtube.com/embed/vgtReuY02JA?autoplay=1&playsinline=1&showinfo=0"
            style="border:none"
            :width="this.width"
            :height="this.height">
    </iframe>
{% endblock %}

{% block body %}
    <v-container id="introducing" fluid>
        <v-row>
            <v-col md="6">
                <p class="font-weight-light">
                    Light weight text.
                </p>
            </v-col>
        </v-row>
    </v-container>
    <v-container id="principles" fluid>
        <v-tabs centered slider-color="yellow">
            <v-tab :href="`#customer`">
                customer
            </v-tab>
            <v-tab :href="`#vendor`">
                vendor
            </v-tab>
        </v-tabs>
        <v-tabs-items>
            <v-tab-item :id="`customer`">
                customer content
            </v-tab-item>
            <v-tab-item :id="`vendor`">
                vendor content
            </v-tab-item>
        </v-tabs-items>
    </v-container>
    <v-container id="examples" fluid></v-container>
    <v-container id="partners" fluid></v-container>
    <v-container id="faq" fluid></v-container>
{% endblock %}